[Unit]
Description=Check Mail every minute
RefuseManualStart=no
RefuseManualStop=no

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=checkmail.service

[Install]
WantedBy=default.target
